{{>header}}
{{>navbar}}
<section class="my-5 container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Book Name </th>
                <th>Page numbers </th>
                <th>Author</th>
                <th>Section</th>
                <th>Actions</th>
            </tr>
        </thead>



        <tbody>
            <tr class="">
                <td>{{book.name}}</td>
                <td>{{book.pages}}</td>
                <td>{{book.author}}</td>
                <td>{{book.section}}</td>
                <td>
                    <a href="/edit/{{book.id}}" class="btn btn-warning mx-3">Edit</a>
                    <a href="/delete/{{book.id}}" class="btn btn-danger mx-3">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
    <a href="/" class="btn btn-primary">Back Home</a>
</section>
{{>footer}}